/** @format */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
	/* font-family: ogg Voyage "Gilroy"; */
}

#home {
	overflow-x: hidden;
	width: 100%;
	/* background-color: antiquewhite; */
	border: 0.1px solid rgba(255, 0, 0, 0);
}
#home #first {
	width: 100%;
	/* height: 100vh; */
}
#home #first #nav {
	height: 10vh;
	width: 100%;
	/* background-color: aliceblue; */
	margin-top: 1.3vw;
	border-top: 0.2vw solid #a7a7a7;
	border-bottom: 0.2vw solid #a7a7a7;
	display: flex;
}
#nav #ndiv-1 {
	height: 100%;
	width: 35%;
	border-right: 0.2vw solid #a7a7a7;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
#ndiv-1 > p {
	font-size: 2vw;
}
#ndiv-1 #brand {
	display: flex;
}
#ndiv-1 #brand #nr {
	position: relative;
	left: 0%;
	font-size: 2vw;
}
#brand #nl #nt h1 {
	font-size: 3vw;
	font-family: Gilroy;
}
#ndiv-1 #brand #nl > p {
	position: relative;
	left: 30%;
	top: -12%;
	font-size: 1vw;
}

#nav #ndiv-2 {
	height: 100%;
	width: 25%;
	border-right: 0.2vw solid #a7a7a7;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 2vw;
}
#nav #ndiv-3 {
	height: 100%;
	width: 30%;
	border-right: 0.2vw solid #a7a7a7;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 2vw;
}
#nav #ndiv-4 {
	height: 100%;
	width: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 2vw;
	background-color: #8fb7f5;
}

#first #imgcon1 {
	width: 100%;
	height: 60vh;
	/* background-color: aqua; */
	margin-top: 2vw;
	margin-bottom: 2vw;
	padding: 0 22vw;
	margin-bottom: 2vw;
}
/* #imgcon1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
} */
#imgcon1 #img1 {
	width: 100%;
	height: 100%;
	background-image: url(./images/a.png);
	background-size: cover;
	background-position: center;
}

#imgcon1 #hr {
	height: 0.2vw;
	width: 100%;
	border-bottom: 0.2vw solid #d0cbcd;
	position: relative;
	bottom: -49%;
	opacity: 0.6;
}
#imgcon1 #imgicon {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 39vw;
	height: 10%;
	position: relative;
	bottom: -47%;
	/* background-color: rgb(235, 153, 46); */
	color: #fff;
}
#imgicon i {
	transform: scaleX(5);
	font-weight: 100;
	font-size: 1vw;
}
#imgcon1 #imgtxt {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 24vw;
	height: 29%;
	position: relative;
	/* background-color: #8fb7f5; */
	bottom: -48.89%;
}
#imgtxt > p {
	font-size: 2.5vw;
	font-family: "Gilroy";
	font-weight: 600;
	color: #fff;
}
#imgtxt #fcir1 {
	height: 55px;
	width: 55px;
	border-radius: 50%;
	border: 0.09vw solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
#fcir1 p {
	color: #fff;
	opacity: 0.67;
}

#first #imgstrip {
	width: 110%;
	height: 21vh;
	display: flex;
	gap: 3vw;
	align-items: center;
	justify-content: space-evenly;
	/* background-color: antiquewhite; */
	margin-bottom: 3vw;
}
#imgstrip .col {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.col .im {
	width: 7vw;
	height: 5.4vw;
	border-radius: 50%;
	background-color: aqua;
	margin-bottom: 1vw;
}
#imgstrip .col:nth-child(1) .im {
	background-image: url(./images/dp4);
	background-size: cover;
	background-position: center;
}
#imgstrip .col:nth-child(2) .im {
	background-image: url(./images/dp5.avif);
	background-size: cover;
	background-position: center;
}
#imgstrip .col:nth-child(3) .im {
	background-image: url(./images/dp3);
	background-size: cover;
	background-position: center;
}
#imgstrip .col:nth-child(4) .im {
	background-image: url(./images/dp1.jpg);
	background-size: cover;
	background-position: center;
}
#imgstrip .col:nth-child(5) .im {
	background-image: url(./images/dp2.jpg);
	background-size: cover;
	background-position: center;
}
#imgstrip .col:nth-child(6) .im {
	background-image: url(./images/dp6.avif);
	background-size: cover;
	background-position: center;
}
#imgstrip .col:nth-child(7) .im {
	background-image: url(./images/dp7.avif);
	background-size: cover;
	background-position: center;
}
#imgstrip .col:nth-child(8) .im {
	background-image: url(https://images.unsplash.com/photo-1639747280929-e84ef392c69a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
	background-size: cover;
	background-position: center;
}
#imgstrip .col:nth-child(9) .im {
	background-image: url(https://images.unsplash.com/photo-1595085610978-b5e35eb24dcf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=867&q=80);
	background-size: cover;
	background-position: center;
}
#imgstrip .col:nth-child(10) .im {
	background-image: url(https://images.unsplash.com/photo-1619539465730-fea9ebf950f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=389&q=80);
	background-size: cover;
	background-position: center;
}
#imgstrip .col:nth-child(11) .im {
	background-image: url(https://images.unsplash.com/photo-1619420674819-da50b9f76950?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
	background-size: cover;
	background-position: center;
}
#imgstrip .col:nth-child(12) .im {
	background-image: url(./images/dp7.avif);
	background-size: cover;
	background-position: center;
}
#first #flogo {
	height: 10vh;
	width: 100%;
	/* background-color: beige; */
	border-top: 0.4vw solid #aeaeae;
	border-bottom: 0.4vw solid #aeaeae;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-style: italic;
	color: #aeaeae;
	margin-bottom: 2.7vw;
}

#flogo p:nth-child(1) {
	border-bottom: 0.2vw solid #aeaeae;
}
#flogo p:nth-child(9) {
	opacity: 0.4;
}
#flogo p:nth-child(10) {
	opacity: 0.8;
}
#flogo p:nth-child(11) {
	opacity: 0.4;
}
#flogo p:nth-child(15) {
	opacity: 0.4;
}
#flogo p:nth-child(18) {
	opacity: 0.4;
}
#flogo p:nth-child(22) {
	opacity: 0.4;
}

#home #second {
	width: 100%;
	/* background-color: green; */
}
#second #cont1 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120vh;
	padding: 0% 2.7vw;
	padding-bottom: 2vw;
}
#cont1 #l1 {
	width: 50%;
	height: 100%;
	/* background-color: #aeaeae; */
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}
#l1 img {
	width: 100%;
	height: 90%;
}
/* #l1 #t1 {
	width: 100%;
	height: 90%;
	background-image: url(./images/img1.jpg);
	 background-size: 41vw 46vw;
	 background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}  */
#l1 h2 {
	padding-top: 1vw;
	font-size: 3.4vw;
}
#l1 #b1 {
	width: 100%;
	height: 10%;
}

#cont1 #r1 {
	width: 50%;
	height: 100%;
	/* background-color: #aeee; */
}
#r1 #t2 {
	width: 100%;
	height: 70%;
	padding: 0% 2vw;
}
#t2 img {
	height: 100%;
	width: 100%;
	/* background-image: url(./images/img2.jpg);
	background-size: cover;
	background-position: top; */
}
#r1 #b2 {
	width: 100%;
	height: 30%;
	padding: 0 2vw;
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	padding-top: 2.7vw;
}
#b2 #l2 {
	font-size: 1.5vw;
	font-family: Gilroy;
	line-height: 1;
}
#b2 #r2 {
	font-size: 1.3vw;
	font-family: Gilroy;
	line-height: 1.2;
	opacity: 0.6;
}

/* cont2 style */

#second #cont2 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120vh;
	padding: 0% 4vw;
	padding-bottom: 2vw;
}
#cont2 #l3 {
	width: 50%;
	height: 100%;
	/* background-color: antiquewhite; */
}
#cont2 #r3 {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#cont2 #r3 img {
	width: 98%;
	height: 80%;
}
#cont2 #l3 #t3 {
	width: 100%;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#cont2 #l3 #b3 {
	width: 100%;
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: #8fb7f5; */
}
#t3 img {
	width: 80%;
	height: 80%;
}
#cont2 #l3 #b3 p {
	font-size: 2vw;
	text-align: left;
	/* opacity: 0.8; */
	font-family: "Times New Roman", Times, serif;
}

#second #cont3 {
	width: 100%;
	height: 100vh;
	padding: 2vw 3vw;
	position: relative;
}
#cont3 #img11 {
	height: 100%;
	width: 100%;
	background-image: url(https://images.unsplash.com/photo-1507120410856-1f35574c3b45?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
	background-size: cover;
	background-position: center;
}
#cont3 #corner {
	position: absolute;
	/* background-color: #8fb7f5; */
	color: #fff;
	height: 3vw;
	width: 3vw;
	right: 6%;
	top: 8%;
	border: 2px solid white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
}

/* third block start */

#home #third {
	width: 100%;
	padding: 2vw 0%;
}
#third #update {
	width: 100%;
	height: 80vh;
	padding: 0 4vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}
#third #update h1 {
	padding-bottom: 2vw;
	border-bottom: 0.24vw solid #d8d8d8;
	width: 80%;
	text-align: center;
}
#update .col2 {
	height: 20%;
	width: 80%;
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	border-bottom: 0.24vw solid #d8d8d8;
	padding-right: 3vw;
}

.col2 h2 {
	font-size: 2vw;
	font-family: Gilroy;
	font-weight: 500;
	opacity: 0.6;
	margin-right: 15vw;
}
#update .col2 .cir2 {
	height: 5.4vw;
	width: 5.4vw;
	border-radius: 50%;
	margin-right: 5vw;
	background-size: cover;
	background-position: center;
	margin-right: 22vw;
}
#update .col2 #dp1 {
	background-image: url(./images/img4.png);
}
#update .col2 #dp2 {
	background-image: url(./images/img4.png);
}
#update .col2 #mtxt2 {
	margin-right: 20vw;
	font-family: Gilroy;
	font-weight: 500;
	white-space: nowrap;
}
#mtxt2 h4 {
	font-size: 2.1vw;
	font-weight: 200;
	opacity: 0.99;
}
#mtxt2 p {
	font-size: 1vw;
	font-weight: 300;
}
#update .col2 .txt2 h4 {
	font-size: 2.1vw;
	font-family: Gilroy;
	white-space: nowrap;
	font-weight: 400;
}
#update .col2 .txt2 p {
	font-size: 1.4vw;
	font-family: Gilroy;
	font-weight: 400;
	opacity: 0.6;
}

/* movie block start */
#third #movie {
	height: 80vh;
	width: 100%;
	padding: 0 6vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 8vw;
}
#movie #l5 {
	width: 50%;
	height: 100%;
	background-image: url(https://images.unsplash.com/photo-1508341591423-4347099e1f19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
	background-size: 387px 580px;
	background-position: center;
	background-repeat: no-repeat;
}
#movie #r5 {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#movie #r5 #t5 {
	width: 100%;
	height: 50%;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	flex-direction: column;
	row-gap: 1vw;
	padding-bottom: 2vw;
}
#movie #r5 #t5 h2 {
	font-size: 4.7vw;
	font-family: Gilroy;
	font-weight: 600;
}
#movie #r5 #t5 p {
	font-size: 1.3vw;
	font-family: Gilroy;
	font-weight: 500;
}
#movie #r5 #t5 h6 {
	font-size: 1vw;
	font-family: Gilroy;
	font-weight: 400;
	opacity: 0.7;
}
#movie #r5 #b5 {
	height: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#movie #r5 #b5 #iml {
	width: 50%;
	height: 100%;
	/* padding: 1vw 1vw; */
	/* margin-top: 4vw; */
	background-image: url(https://images.unsplash.com/photo-1470259078422-826894b933aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80);
	background-size: cover;
	margin-right: 1vw;
}
#movie #r5 #b5 #imr {
	width: 50%;
	height: 100%;
	padding: 0 1vw;
	background-image: url(https://images.unsplash.com/photo-1610384104075-e05c8cf200c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80);
	background-size: cover;
	margin-left: 1vw;
}
/* 817 544 */
#fimg {
	width: 100%;
	height: 80vh;
	position: relative;
	margin-top: 5vw;
	padding: 0 8vw;
}
#fimg #bgimg {
	width: 100%;
	height: 100%;
	background-color: #aeaeae;
	background-image: url(https://images.unsplash.com/photo-1494633114655-819eb91fde40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
	background-size: cover;
	background-position: bottom;
}
#fimg #cirtxt {
	height: 4.5vw;
	width: 4.5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 0.18vw solid #d8d8d8;
	position: absolute;
	top: 9%;
	right: 14%;
	font-family: Gilroy;
	font-weight: 500;
	font-size: 2vw;
}
